---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="CONTATO">
  <div class="grid place-content-center my-80">
    <div>
      <br /> Telefone: <a href="">+55 (15) 98154-6011</a>
      <br /> Email: <a href="">marcogalo4@gmail.com</a>
      <br /> Endereço: Recanto do Jatai - Estrada de Servidão, Sorocaba - SP, 18052-582
    </div>
  </div>
</BaseLayout>
