---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="CONTATO">
  <div class="flex flex-col gap-8 my-32">
    <div>
      <h1 class="text-2xl font-bold">Entre em Contato Conosco</h1>
      <br />
      <p>
        Queremos ouvir sobre seu próximo projeto! Fale conosco para agendar uma
        consulta ou tirar dúvidas sobre nossos serviços.
      </p>
    </div>
    <div>
      <h1 class="text-2xl font-bold">Informações de Contato:</h1>
      <br /><br /> Telefone: <a href="">+55 (15) 98154-6011</a>
      <br /><br /> Email: <a href="">marcogalo4@gmail.com</a>
      <br /><br /> Endereço: Recanto do Jatai - Estrada de Servidão, Sorocaba - SP,
      18052-582
    </div>
    <div>
      <h1 class="text-2xl font-bold">Horário de Atendimento:</h1><br />
      Segunda a Sexta: 07:00-18:00
      <br /><br />
      <p>
        Estamos ansiosos para trabalhar com você e criar móveis que tornarão sua
        casa verdadeiramente especial. Sinta-se à vontade para personalizar
        esses textos de acordo com a identidade da sua marcenaria e os detalhes
        específicos que deseja destacar.
      </p>
    </div>
  </div>
</BaseLayout>
