---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeCarousel from "@/components/HomeCarousel"
import '@/styles/globals.css'
---

<BaseLayout pageTitle="HOME">
  <HomeCarousel client:load />
  <section class="mt-16">
    <p class="md:text-7xl text-5xl font-bold">
      <span>Movéis</span>
      <br />
      <span>exlcusivos</span>
    </p>
    <p class="ml-2 mt-4 font-light max-w-3xl">
      Na Marcenaria Galo, transformamos sonhos em móveis planejados sob medida,
      criando ambientes únicos e funcionais. Nossa dedicação à excelência e
      atenção aos detalhes garantem que cada projeto seja uma expressão
      autêntica do seu estilo de vida. Explore nossas criações e descubra como
      podemos transformar seu espaço em algo extraordinário.
    </p>
    <div class="flex gap-2 justify-end mr-10 p-8">
      <a href="https://www.instagram.com/marcenariagalo/" class="max-h-10 max-w-10 overflow-hidden" >
        <img src="/marcenaria-galo/instagram.svg" alt="insta logo">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100066701466577&locale=pt_BR" class="max-h-10 max-w-10 overflow-hidden" >
        <img src="/marcenaria-galo/facebook.svg" alt="insta logo">
      </a>
      <a href="https://wa.me/5515981546011" class="max-h-10 max-w-10 overflow-hidden" >
        <img src="/marcenaria-galo/whatsapp.svg" alt="insta logo">
      </a>
    </div>
  </section>
  <section class="flex justify-end">
    <img
      src="/marcenaria-galo/img.jpg"
      alt="moveis planejados"
      class="h-[60vw] w-auto object-cover"
    />
  </section>
</BaseLayout>
<style>
  .img-link {
    border-radius: 100%;
    height: 64px;
    width: 64px;
  }
</style>
