---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="SOBRE">
  <div class="mt-40 mb-52">
    <h1 class="text-2xl font-bold">Sobre Nós</h1><br /> Na Marcenaria Galo, acreditamos
    que cada lar é único, e é por isso que nos dedicamos a criar móveis planejados
    que refletem a personalidade e as necessidades exclusivas de cada cliente. Com
    uma equipe de artesãos habilidosos e designers apaixonados, trazemos à vida projetos
    que vão além das expectativas.
    <br /><br /><h2 class="text-xl font-bold mb-4">Nosso Compromisso:</h2>
    <ul class="flex flex-col gap-8 mb-8 ml-4">
      <li>
        <strong>Artesanato Excepcional:</strong> Cada peça é cuidadosamente construída
        com a mais alta qualidade de materiais e atenção aos detalhes.
      </li>
      <li>
        <strong>Design Personalizado:</strong> Criamos soluções sob medida para otimizar
        cada espaço, combinando funcionalidade e estética.
      </li>
      <li>
        <strong>Atendimento Personalizado:</strong> Trabalhamos em parceria com você,
        desde a concepção até a conclusão, para garantir que sua visão se torne realidade.
      </li>
    </ul>
    <p class="font-semibold">
      Descubra a diferença que a Marcenaria Galo pode fazer em sua casa.
    </p>
  </div>
</BaseLayout>
