---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="SOBRE">
  <div class="h-[100vh] mt-80">
    Na Marcenaria Galo, acreditamos que cada lar é único, e é por isso que nos
    dedicamos a criar móveis planejados que refletem a personalidade e as
    necessidades exclusivas de cada cliente. Com uma equipe de artesãos
    habilidosos e designers apaixonados, trazemos à vida projetos que vão além
    das expectativas.
  </div>
</BaseLayout>
