---
import Logo from "./Logo.astro"
---
<header class="flex justify-between items-center max-w-7xl w-full m-auto p-8">
  <Logo />
  <nav class="flex gap-8">
    <a href="/">Início</a>
    <a href="/">Sobre</a>
    <a href="/">Contato</a>
  </nav>
</header>