---
import Logo from "./Logo.astro";
import Hamburguer from "./Hamburguer.astro";
---

<div class="shadow-md bg-white">
  <header
    class="flex justify-between items-center w-full max-w-7xl m-auto px-8 py-2"
  >
    <Logo />
    <nav class="gap-8 hidden md:flex">
      <a href="/marcenaria-galo/" class="font-bold">INÍCIO</a>
      <a href="/marcenaria-galo/sobre" class="font-bold">SOBRE</a>
      <a href="/marcenaria-galo/contato" class="font-bold">CONTATO</a>
      <a href="/marcenaria-galo/galeria" class="font-bold">GALERIA</a>
    </nav>
    <div class="md:hidden">
      <Hamburguer />
      <nav
        id="nav-mobile-items"
        class="gap-8 hidden absolute top-16 left-0 flex-col w-full text-center bg-white shadow-2xl py-4 z-10 animate-fade"
      >
        <a href="/marcenaria-galo/" class="font-bold">Início</a>
        <a href="/marcenaria-galo/sobre" class="font-bold">Sobre</a>
        <a href="/marcenaria-galo/contato" class="font-bold">Contato</a>
      </nav>
    </div>
  </header>
</div>
<script>
  const hamburguerElement = document.querySelector("#hamburguer");
  const navMobileElement = document.querySelector("#nav-mobile-items");

  const fistDiv = document.querySelector("#fist");
  const secondDiv = document.querySelector("#second");
  const thirdDiv = document.querySelector("#third");

  hamburguerElement?.getAttribute("data-display");

  if (!hamburguerElement?.getAttribute("data-display"))
    hamburguerElement?.setAttribute("data-display", "hidden");

  hamburguerElement?.addEventListener("click", () => {
    if (navMobileElement?.classList.contains("hidden")) {
      navMobileElement.classList.remove("hidden");
      navMobileElement.classList.add("flex");
      hamburguerElement.setAttribute("data-display", "flex");

      secondDiv?.classList.remove("block");
      secondDiv?.classList.add("hidden");
    } else {
      navMobileElement?.classList.remove("flex");
      navMobileElement?.classList.add("hidden");
      hamburguerElement.setAttribute("data-display", "hidden");
      secondDiv?.classList.remove("hidden");
      secondDiv?.classList.add("block");
    }
  });
</script>
