---
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<div class="w-10 h-10 rounded-full">
  <a class="text-white h-full flex justify-center items-center overflow-hidden rounded-full" href={url}>
    <slot></slot>
  </a>
</div>
